From: "ULS - Voyager Administrators" <voyadmin@mail.pitt.edu>
To: <%= $email %>
Subject: Fine/Fee Notices

A tab-delimited file representing the current fine/fee notices recently processed is attached to this message.

Each line represents a line from the circulation notices file.

ULS - Voyager Administrators
(this is a test)
