From: "ULS - Voyager Administrators" <voyadmin@mail.pitt.edu>
To: <%= $email %>
Subject: Fine/Fee Notices

A tab-delimited file representing the current fine/fee notices recently processed is attached to this message.

Each line in the file represents a line from the circulation notices file.

The input file(s) processed included fines/fees from the following locations:
<% foreach my $i (@$libraries) { %>
  <%= $i %>
<% } %>

ULS - Voyager Administrators
